.project {
  display: flex;
  flex-direction: column;
  padding: 2em 0 0em;
  position: relative;
}

.icon {
  position: absolute;
  right: 100%;
  align-self: flex-start;
  flex-shrink: 0;
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
}

.project h3 {
  margin-bottom: 0.25em;
}

.tags {
  margin: 0 1ch;
  opacity: 0.5;
  font-size: 14px;
  padding-bottom: 0.2em;
}
