.picture-grid {
    margin-bottom: 2em;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

    > * {
        flex-basis: var(--column-width);
        flex-grow: 1;
        padding: 4px;

        > * {
            margin: 0.25em;
        }
    }

    > .full {
        flex-basis: 100%;
    }
}
