body {
    color: var(--theme-text);
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 1.6;
}

/* text */
h1,
h2,
h3,
h4 {
    margin: 0;
    line-height: initial;
    font-family: "Questrial", sans-serif;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    color: #eee;
}
h4 {
    display: inline-block;
}
p {
    margin: 0.5em 0;
}

/* text elements */
a:not(.icon) {
    font-style: initial;
    position: relative;
    color: inherit;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;

    background-image: linear-gradient(
        var(--theme-accent-75),
        var(--theme-accent-75)
    );
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;

    &:hover {
        background-image: linear-gradient(
            var(--theme-accent),
            var(--theme-accent)
        );
    }
}
a.icon {
    &:focus,
    &:hover {
        svg {
            filter: drop-shadow(0 3px var(--theme-accent-50));
        }
    }
}
