@use "_typography.scss";

html {
    --theme-width: 65ch;
    --theme-text: #fff;
    --theme-background: #222227;
    --theme-accent: #0bb1d2;
    --theme-accent-75: rgba(14, 177, 210, 0.75);
    --theme-accent-50: rgba(14, 177, 210, 0.5);
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: var(--theme-background);
    padding: 0 15vw;

    @media (max-width: 912px) {
        padding: 0 10vw;
    }
    @media (max-width: 712px) {
        padding: 0 5vw;
    }
}

.highlight {
    color: var(--theme-accent);
}
svg {
    fill: currentColor;
}

#webgl-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 1;
    transition: opacity 500ms;
}

.page {
    padding: 10vh 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: var(--theme-width);
    margin-left: auto;
    margin-right: auto;

    &:last-child {
        padding-bottom: 10vh;
    }
}

picture > img {
    width: 100%;
    display: block;
}
