.container--home {
  display: grid;
  --layout-padding: 6rem;
  grid-template-columns: var(--layout-padding) [aside-start] 1fr [aside-end] 6rem [main-start] 36rem [main-end] var(
      --layout-padding
    );
}

.container--home > main {
  grid-column: main;
}

.container--blog {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 90rem) {
  .container--home {
    --layout-padding: 3rem;
  }
}
@media (max-width: 75rem) {
  .container--home {
    grid-template-columns:
      minmax(var(--layout-padding), 1fr) [main-start] minmax(12rem, 36rem)
      [main-end] minmax(var(--layout-padding), 1fr);
  }

  .container :global(.hide--small) {
    display: none;
  }
}
