.container--home {
  display: grid;
  grid-template-columns: 6rem 1fr 36rem 7rem;
}

.container--home > main {
  grid-column: 3;
}

.container--blog {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
