---
import { getCollection } from "astro:content";
import Layout from "../layouts/PageLayout.astro";
import Title from "../components/blog/Title.astro";

const blogEntries = await getCollection("blog");
const activeBlogEntries = blogEntries.filter(post => !post.data.draft);
---

<Layout title="Blog - Johan Fagerberg" active="blog">
  <Title>My blog</Title>
  <ul class="post-list">
    {
      activeBlogEntries
        .sort((a, b) => +b.data.date - +a.data.date)
        .map((entry) => (
          <li>
            <a
              href={entry.slug}
              class="post"
            >
              <span class="post-background" />
              <span class="post-title">{entry.data.title}</span>
              <time class="post-date">
                {entry.data.date.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "2-digit",
                })}
              </time>
            </a>
          </li>
        ))
    }
  </ul>
</Layout>
<style>
  .post-list {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
  }
  .post {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .25rem;
    padding: 1rem 0;
    background-image: none !important; /* remove the underline, which normally applies to links */
  }
  .post-background {
    position: absolute;
    z-index: -10;
    inset: 0 -1rem;
    border-radius: 0.75rem;
    background: var(--c-text);
    transform: scale(0.95);
    transform-origin: 50% 50%;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 150ms;
  }
  .post:hover .post-background {
    transform: scale(1);
    opacity: 0.05;
  }
  .post-title {
    font-weight: 500;
  }
  .post-date {
    flex-shrink: 0;
    color: var(--c-text-secondary);
  }
</style>