---
import TimelineEntry from "../components/frontpage/TimelineEntry.astro";
import Section from "../components/frontpage/Section.astro";
import Layout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon";
import ProjectEntry from "../components/frontpage/ProjectEntry.astro";
import Navbar from "../components/navbar/Navbar.astro";
import Hero from "../components/frontpage/Hero/index.astro";
---

<Layout
  title="Johan Fagerberg - Portfolio"
  description="Johan Fagerberg - developer with an interest in automation, user/developer experience, and online privacy."
>
  <Hero />
  <div id="bypass-hero"></div>
  <Navbar
    containerProps={{
      class: "homepage-navbar",
    }}
  />

  <main>
    <Section>
      <p>
        I'm Johan Fagerberg, a developer with an interest in automation,
        user/developer experience, and online privacy. I enjoy working on tools
        that make daily chores easier, more intuitive and less cumbersome.
      </p>
      <p>
        When I have the time, and something interested to share, I write
        articles on <a href="/blog/">my blog</a>.
      </p>
    </Section>

    <Section>
      <h2 id="projects" data-header="Projects">Open Source Projects</h2>
      <p>
        Below are some of the open source projects I have been a leading
        developer on.<br />
        For the full list, see <a
          href="https://github.com/birjj/"
          target="_blank"
          rel="noopener noreferrer">my GitHub.</a
        >
      </p>
      <ProjectEntry
        icon="manatee-inspector"
        title="Manatee Inspector"
        href="https://github.com/birjj/manatee-inspector/"
      >
        <p>
          A custom dev tool implementation for the <a
            href="https://sirenia.eu/products/rpa/"
            target="_blank"
            rel="noopener noreferrer">Manatee</a
          > RPA application. Provides vastly improved DX compared to the built-in
          dev tools.
        </p>
      </ProjectEntry>
      <ProjectEntry
        icon="yamz"
        title="Yet Another Medium Zoom"
        href="https://yamz.jfagerberg.me/"
      >
        <p>
          A fully featured lightbox library inspired by Medium, focusing on
          being modern, extensible and easy to use.
        </p>
      </ProjectEntry>
      <ProjectEntry
        icon="svglint"
        title="SVGLint"
        href="https://github.com/birjj/svglint/"
      >
        <p>
          A pluggable linter for SVG files, developed while maintaining the
          Simple Icons project.
        </p>
      </ProjectEntry>
      <ProjectEntry
        icon="brookshear-machine"
        title="Brookshear Machine"
        href="https://brookshear.jfagerberg.me/"
      >
        <p>
          A Brookshear Machine emulator, useful for teaching the basics of CPU
          instructions and low-level programming.
        </p>
      </ProjectEntry>
    </Section>

    <Section>
      <h2 id="work" data-header="Work history">Work History</h2>
      <TimelineEntry time="2024 +     " title="DevEx Engineer at TV 2"></TimelineEntry>
      <TimelineEntry time="2023 - 2024" title="DevOps Engineer at KMD">
      </TimelineEntry>
      <TimelineEntry
        time="2022 - 2023"
        title="RPA developer at Odense University Hospital"
      >
      </TimelineEntry>
      <TimelineEntry
        time="2015 - 2019"
        title="Frontend developer at CleanManager"
      >
      </TimelineEntry>
    </Section>

    <Section>
      <h2 id="education" data-header="Education">Education and Certificates</h2>
      <TimelineEntry
        time="2023"
        title="Certified Kubernetes Administrator (CKA)"
      />
      <TimelineEntry
        time="2021"
        title="BCompSc from University of Southern Denmark"
      >
        <p>
          Final bachelor thesis was on Ɛ-differential privacy, a mathematical
          description of privacy-aware algorithms, and ways to achieve it.<br
          />The thesis can be found <a
            href="https://github.com/birjj/bachelor-project-privacy/releases/tag/v1.0"
            target="_blank"
            rel="noopener noreferrer">on my GitHub.</a
          >
        </p>
      </TimelineEntry>
    </Section>
    <Section>
      <h2 id="contact" data-header="Contact">Contact</h2>
      <p>
        If you want to present a fun opportunity, have questions or just want to
        have a chat, I'm always up to hearing from you.
      </p>
      <p>
        You can catch me over on <a
          href="https://github.com/birjj"
          target="_blank"
          rel="noopener noreferrer">GitHub</a
        > or <a
          href="https://www.linkedin.com/in/johan-fagerberg-202527120/"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        >, or you can send me a good old-fashioned email at <a
          href="mailto:johanringmann@gmail.com"
        >
          johanringmann@gmail.com</a
        >.
      </p>
      <div class="footer-wrapper">
        <a
          class="icon mr-8"
          href="https://github.com/birjj/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Johan Fagerberg's GitHub"
        >
          <Icon name="simple-icons:github" class="footer-icon" />
        </a>
        <a
          class="icon"
          href="https://www.linkedin.com/in/johan-fagerberg-202527120/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Johan Fagerberg's LinkedIn"
        >
          <Icon name="simple-icons:linkedin" class="footer-icon" />
        </a>
      </div>
    </Section>
  </main>

  <script is:inline>
    // if this is a clean reload, scroll past the hero - we use the hero as a bit of an easter egg
    if (
      document.documentElement.scrollTop === 0
    ) {
      // on page reload, most browsers scroll to the old scroll position
      // this happens at an unpredictable time, causing flash-of-scroll-position if we do our scroll too
      // we try to avoid doing our scroll if it's a reload
      const isReload =
        window.performance &&
        window.performance.getEntriesByType &&
        window.performance
          .getEntriesByType("navigation")
          .map((nav) => nav.type)
          .includes("reload");
      const $bypass = document.getElementById("bypass-hero");
      if (!isReload && $bypass) {
        $bypass.scrollIntoView({ behavior: "instant" });
      }
    }
  </script>
</Layout>

<style>
  main {
    margin-block-start: 2rem;
    padding-block-end: 8rem; /* margin doesn't extend the page, so we use padding instead */
    margin-inline: 1rem;
  }
  .footer-wrapper {
    margin-block-start: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .footer-icon {
    width: 3rem;
    height: 3rem;
  }
</style>
