---
import TimelineEntry from "../components/frontpage/TimelineEntry.astro";
import Section from "../components/frontpage/Section.astro";
import Layout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon";
import ProjectEntry from "../components/frontpage/ProjectEntry.astro";
import Navbar from "../components/Navbar.astro";
import HeroBackground from "../components/frontpage/HeroBackground/index.astro";
import type { MarkdownHeading } from "astro";
import ScrollPrompter from "../components/frontpage/ScrollPrompter.astro";

const navbarLinks: MarkdownHeading[] = [
  { slug: "projects", text: "Projects", depth: 0 },
  { slug: "work", text: "Work history", depth: 0 },
  { slug: "contact", text: "Contact", depth: 0 },
];
---

<Layout title="Johan Fagerberg - Portfolio" description="Johan Fagerberg - developer with an interest in automation, user/developer experience, and online privacy.">
  <main class="mx-5vw xs:mx-10vw sm:mx-15vw text-xl prose dark:prose-invert">
    <HeroBackground class="absolute w-screen h-screen inset-0 -z-10" />
    <section class="py-10vh max-w-prose h-screen flex flex-col justify-center">
      <h1
        class="font-headings text-4xl xs:text-6xl sm:text-7xl font-bold no-dot m-0"
      >
        Hi<span class="text-accent-700">.</span><br />I'm Johan
      </h1>
    </section>
    <ScrollPrompter />
  </main>

  <div id="bypass-hero"></div>
  <Navbar headings={navbarLinks} />

  <main class="mt-8 mx-4 sm:mx-15vw pb-32 text-xl prose dark:prose-invert">
    <Section>
      <p>
        I'm a developer with an interest in automation, user/developer
        experience, and online privacy.<br />I enjoy working on tools that make
        daily chores easier, more intuitive and less cumbersome.
      </p>
      <p>
        When I have the time, and something interested to share, I write
        articles on <a href="/blog/">my blog</a>.
      </p>
    </Section>

    <Section>
      <h2 id="projects" data-header="Projects">Open Source Projects</h2>
      <p class="!mb-8">
        Below are some of the open source projects I have been a leading
        developer on.<br />
        For the full list, see <a
          href="https://github.com/birjj/"
          target="_blank"
          rel="noopener noreferrer">my GitHub.</a
        >
      </p>
      <ProjectEntry
        icon="manatee-inspector"
        title="Manatee Inspector"
        href="https://github.com/birjj/manatee-inspector/"
      >
        <p>
          A custom dev tool implementation for the <a
            href="https://sirenia.eu/products/rpa/"
            target="_blank"
            rel="noopener noreferrer">Manatee</a
          > RPA application. Provides vastly improved DX compared to the built-in
          dev tools.
        </p>
      </ProjectEntry>
      <ProjectEntry
        icon="yamz"
        title="Yet Another Medium Zoom"
        href="https://yamz.jfagerberg.me/"
      >
        <p>
          A fully featured lightbox library inspired by Medium, focusing on
          being modern, extensible and easy to use.
        </p>
      </ProjectEntry>
      <ProjectEntry
        icon="svglint"
        title="SVGLint"
        href="https://github.com/birjj/svglint/"
      >
        <p>
          A pluggable linter for SVG files, developed while maintaining the
          Simple Icons project.
        </p>
      </ProjectEntry>
      <ProjectEntry
        icon="brookshear-machine"
        title="Brookshear Machine"
        href="https://brookshear.jfagerberg.me/"
      >
        <p>
          A Brookshear Machine emulator, useful for teaching the basics of CPU
          instructions and low-level programming.
        </p>
      </ProjectEntry>
    </Section>

    <Section>
      <h2 id="work" data-header="Work history">Work History</h2>
      <TimelineEntry time="2023 +     ">
        <h3>DevOps Engineer at KMD</h3>
        <p>Part of a team providing DevOps work for the wider company.</p>
        <p>
          With little existing experience, my primary focus has been
          implementing automation and testing of our existing Terraform
          codebase.
        </p>
      </TimelineEntry>
      <TimelineEntry time="2022 - 2023">
        <h3>RPA developer at Odense University Hospital</h3>
        <p>
          Responsible for automatization of work processes across the hospital,
          with ownership of the process from customer communication to final
          implementation.
        </p>
        <p>
          My primary area of focus was the work processes, developer tools and
          documentation of the team, in order to improve DX and productivity.
        </p>
      </TimelineEntry>
      <TimelineEntry time="2015 - 2019">
        <h3 class="font-headings mt-0 leading-none">
          Frontend developer at CleanManager
        </h3>
        <p>
          Sole frontend developer with responsibility for the frontend, a
          custom-written beast consisting of multiple intervowen SPAs.
        </p>
        <p>
          I was primarily focused on modernizing the codebase by transitioning
          to React, which was an up-and-coming framework at the time.
        </p>
      </TimelineEntry>
    </Section>

    <Section>
      <h2 id="education" data-header="Education">Education</h2>
      <TimelineEntry time="2021">
        <h3>BCompSc from University of Southern Denmark</h3>
        <p>
          Final bachelor thesis was on Ɛ-differential privacy, a mathematical
          description of privacy-aware algorithms, and ways to achieve it.<br
          />The thesis can be found <a
            href="https://github.com/birjj/bachelor-project-privacy/releases/tag/v1.0"
            target="_blank"
            rel="noopener noreferrer">on my GitHub.</a
          >
        </p>
      </TimelineEntry>
    </Section>
    <Section>
      <h2 id="contact" data-header="Contact">Contact</h2>
      <p>
        If you want to present a fun opportunity, have questions or just want to
        have a chat, I'm always up to hearing from you.
      </p>
      <p>
        You can catch me over on <a
          href="https://github.com/birjj"
          target="_blank"
          rel="noopener noreferrer">GitHub</a
        > or <a
          href="https://www.linkedin.com/in/johan-fagerberg-202527120/"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        >, or you can send me a good old-fashioned email at <a
          href="mailto:johanringmann@gmail.com"
        >
          johanringmann@gmail.com</a
        >.
      </p>
      <div class="mt-8 flex justify-center">
        <a
          class="icon mr-8"
          href="https://github.com/birjj/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="simple-icons:github" class="w-12 h-12" />
        </a>
        <a
          class="icon"
          href="https://www.linkedin.com/in/johan-fagerberg-202527120/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="simple-icons:linkedin" class="w-12 h-12" />
        </a>
      </div>
    </Section>
  </main>

  <script is:inline>
    // if we navigated here from a different page on the same domain, and we're viewing the hero, scroll past it
    if (
      document.referrer &&
      document.documentElement.scrollTop === 0 &&
      new URL(document.referrer).host === document.location.host
    ) {
      const $bypass = document.getElementById("bypass-hero");
      if ($bypass) {
        $bypass.scrollIntoView({ behavior: "instant" });
      }
    }
  </script>
</Layout>
