---
export interface Props {
  time: string;
  title: string;
}

const { time, title } = Astro.props;
const timeWidth = Math.ceil(time.length / 6) * 6;
---

<div class="wrapper">
  <div class="left" style=`width: ${timeWidth}ch`>
    {time}
  </div>
  <div class="right">
    <h3 class="title">{title}</h3>
    <slot />
  </div>
</div>
<style scoped>
  .wrapper {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    @media (min-width: 640px) {
      flex-direction: row;
    }
  }

  .left {
    flex-shrink: 0;
    margin-right: 1rem;
    opacity: 0.75;
    font-size: 1rem;
  }
  .right {
    flex-grow: 1;
  }
  .title {
    margin-top: 0;
  }
</style>
