---
/** A single vertical line, used to split sections in a horizontal flex row */
---

<div></div>

<style>
  div {
    transition-property: border-color;
    transition-timing-function: var(--easing-default);
    transition-duration: var(--easing-default-duration);
    margin: 1rem 0.5rem;
    border-right: 1px solid var(--c-border);
  }
</style>
