---
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon";
import TableOfContents from "./TableOfContents";
import DarkModeToggle from "./DarkModeToggle";

export interface Props extends astroHTML.JSX.HTMLAttributes {
  headings: MarkdownHeading[];
  active?: "home" | "blog" | "none";
}

const { headings, active = "home", ...props } = Astro.props;
---

<header
  class="transition z-50 backdrop-blur-[8px] bg-[#f6f6f6dd] dark:bg-[#161a1dee] border-y sticky top-[-1px]"
>
  <div
    {...props}
    class=`font-headings px-4 sm:px-15vw mx-auto h-12 flex flex-row items-stretch ${props.class || ""}`
  >
    <TableOfContents
      client:load
      items={headings}
      scrollOffset={57}
      logoInactive={active !== "home"}
    >
      <Icon name="jfagerberg" class="w-8 h-8 rounded-full" slot="logo" />
    </TableOfContents>
    <a
      href="/blog/"
      class=`icon inline-flex items-center relative px-2 mr-1 ml-auto ${active === "blog" ? "active" : ""}`
      arial-label="Navigate to blog index"
    >
      Blog
    </a>
    <DarkModeToggle client:load />
    <div class="transition mx-2 my-4 border-r"></div>
    <a
      class="icon inline-flex items-center relative px-2"
      href="https://github.com/birjj/"
      target="_blank"
      rel="noopener noreferrer"
      title="Visit GitHub profile"
    >
      <Icon name="simple-icons:github" class="w-6 h-6" />
    </a>
    <a
      class="icon inline-flex items-center relative px-2"
      href="https://www.linkedin.com/in/johan-fagerberg-202527120/"
      target="_blank"
      rel="noopener noreferrer"
      title="Visit LinkedIn profile"
    >
      <Icon name="simple-icons:linkedin" class="w-6 h-6" />
    </a>
  </div>
</header>

<style>
  /* each link is highlighted using 3 components:
    - the downwards box-shadow (on the <a> itself),
    - the lower border (on the ::before, so we can offset it), and
    - the upwards box-shadow (on ::after) */

  header :global(a) {
    box-shadow: 0 4px 3px -4px var(--tw-shadow-color);
  }
  :global(.dark) header :global(a) {
    box-shadow: 0 4px 3px -4px var(--tw-shadow-color);
  }
  header :global(a::before) {
    @apply absolute left-1 right-1 top-full h-px;
    content: "";
  }
  header :global(a::after) {
    @apply absolute left-0 right-0 top-full h-4;
    content: "";
    box-shadow: 0 -4px 2px -4px var(--tw-shadow-color);
  }
  :global(.dark) header :global(a::after) {
    box-shadow: 0 -4px 3px -4px var(--tw-shadow-color);
  }

  /* when active, each part activates in our accent color */
  header :global(a.active) {
    @apply shadow-accent-800/75;
  }
  header :global(a.active::before) {
    @apply bg-accent-700/75;
  }
  header :global(a.active:hover) {
    @apply shadow-accent-800/100;
  }
  header :global(a.active:hover::before) {
    @apply bg-accent-700;
  }

  /* when hovered, we also apply a very faint background for immediate feedback */
  header :global(:is(a, button):hover) {
    @apply bg-slate-400/5;
  }
</style>
