---
import { Icon } from 'astro-icon';

/** Replacement for <aside> in blog posts. Displays as a floated block in the article */
export type Props = astroHTML.JSX.IntrinsicElements["blockquote"] & {
  "data-iconless"?: boolean;
}
const { "data-iconless": iconless = false, ...props } = Astro.props;
---

<blockquote {...props}>
  { Astro.slots.has("citation") && <div class="citation">
    <Icon name="quote" class="icon" />
    <slot name="citation" />
  </div>}
  <slot />
</blockquote>

<style>
  blockquote {
    padding-block: 0.25rem;
    padding-inline: 1rem 0;
    margin-inline: var(--article-inset);
    border-left: 2px solid var(--c-accent, #0089ce);
  }

  blockquote > :global(:last-child) {
    padding-bottom: 0;
  }

  .citation {
    float: right;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: -1rem;
    text-align: right;
    position: relative; z-index: 99; /* otherwise the floated citation would be underneath its siblings */

    color: var(--body-color-secondary, rgb(0 0 0 / 60%));
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    overflow-wrap: break-word;
    word-break: break-word;
    text-transform: uppercase;
  }

  .icon {
    color: var(--c-accent, #0089ce);
    width: 2rem;
    height: 2rem;
    display: block;
  }
</style>