---
import "@fontsource-variable/cabin";
import "@fontsource/questrial";
import "@fontsource-variable/overpass";

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      /** Inline dark-mode test, to avoid FOUC */
      if (
        localStorage["dark-mode"] === "true" ||
        (!("dark-mode" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
        document.documentElement.setAttribute("data-theme", "github-dark");
      } else {
        document.documentElement.classList.remove("dark");
        document.documentElement.removeAttribute("data-theme");
      }
    </script>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /** This style block contains CSS variables */
  :root {
    --font-sans: 'Overpass Variable', Cabin Variable, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
      "Noto Color Emoji";
    --font-headings: Questrial, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
      "Noto Color Emoji";
    --font-lineheight: 1.725em;

    --easing-default: cubic-bezier(0.4, 0, 0.2, 1);
    --easing-default-duration: 0.15s;

    --z-noshadow: 15;
    --z-navbar: 50;
    --z-floating: 99;

    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    --c-text: rgb(0 0 0 / 90%);
    --c-text-oklch: 0% 0 0 / 90%;
    --c-text-emphasis: #000;
    --c-text-secondary: #666;
    --c-background: #fff;
    --c-background-oklch: 100% 0 0;
    --c-accent: #0089ce;
    --c-accent-oklch: 60% 0.14 241;
    --c-border: #e5e7eb;
    --c-selection-bg: oklch(var(--c-accent-oklch) / 35%);
  }
  html.dark {
    --c-text: rgb(255 255 255 / 100%);
    --c-text-oklch: 100% 0 0 / 90%;
    --c-text-emphasis: #fff;
    --c-text-secondary: #aaa;
    --c-background: #0c1013;
    --c-background-oklch: 17% 0.01 240.5;
    --c-border: #1f2937;
  }
</style>
<style>
  /** This style block contains styles for this specific layout */
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    margin: 0;

    transition-property: color, background-color;
    transition-timing-function: var(--easing-default);
    transition-duration: var(--easing-default-duration);
  }
</style>
<style is:global>
  /** This style block contains global typography */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--c-text);
    background: var(--c-background);
  }

  /* style headers with a blue dot */
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-headings);
  }
  h2:not(.no-dot)::after {
    color: var(--c-accent);
    content: ".";
  }

  /* add a blue underline beneath non-icon links */
  a:not(.icon) {
    @apply bg-bottom bg-no-repeat bg-[length:100%_2px];

    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;

    text-decoration-line: none;
    background-image: linear-gradient(
      to top,
      oklch(var(--c-accent-oklch) / 75%) 0%,
      oklch(var(--c-accent-oklch) / 75%) 100%
    );
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
  }
  a:not(.icon):hover,
  a:not(.icon):focus-visible {
    background-image: linear-gradient(
      to top,
      oklch(var(--c-accent-oklch) / 100%) 0%,
      oklch(var(--c-accent-oklch) / 100%) 100%
    );
  }

  /* style definition lists globally */
  dl dt {
    font-weight: 600;
  }
  dl dd {
    margin-bottom: 1.75rem;
    padding-inline: 1rem;
    margin-inline: 0;
  }
  dl > :where(dd, dt) > p {
    margin-top: 0;
  }
  dl > :where(dd, dt) > ul {
    margin-top: 0;
  }

  /* style selection for shits and giggles */
  ::selection {
    background-color: var(--c-selection-bg);
  }
</style>
