---
import "@fontsource-variable/cabin";
import "@fontsource/questrial";
import "@fontsource-variable/overpass";
import "./global.css";
import "./typography.css";

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      /** Inline dark-mode test, to avoid FOUC */
      if (
        localStorage["dark-mode"] === "true" ||
        (!("dark-mode" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
        document.documentElement.setAttribute("data-theme", "github-dark");
      } else {
        document.documentElement.classList.remove("dark");
        document.documentElement.removeAttribute("data-theme");
      }
    </script>
    <slot name="head" />
  </head>
  <body>
    <slot />
    <div class="scroll-shadow"></div>
  </body>
</html>

<style>
  .scroll-shadow {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;

    z-index: calc(var(--z-noshadow, 11) - 1);
    background-color: var(--c-background);
    mask-image: linear-gradient(to bottom, transparent, rgb(0 0 0 / 75%));
    transition-property: background-color;
    transition-timing-function: var(--easing-default);
    transition-duration: var(--easing-default-duration);

    pointer-events: none;
  }
</style>
