---
import type { Props as BaseLayoutProps } from "./BaseLayout.astro";
import BaseLayout from "./BaseLayout.astro";
import Navbar from "../components/navbar/Navbar.astro";
import type { MarkdownHeading } from "astro";
import Article from "../components/blog/Article.astro";
import Title from "../components/blog/Title.astro";

export interface Props extends BaseLayoutProps {
  headings: MarkdownHeading[];
  date: Date;
}

const { title, headings, date, ...props } = Astro.props;
---

<BaseLayout {...props} title={title}>
  <link
    slot="head"
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
    crossorigin="anonymous"
  />

  <Navbar active="blog" />
  <main>
    <Article>
      <Title noDot={/[?!]$/.test(title)}>
        {title}
      </Title>
      <slot />
    </Article>
  </main>
</BaseLayout>