---
import type { Props as BaseLayoutProps } from "./BaseLayout.astro";
import BaseLayout from "./BaseLayout.astro";
import Navbar from "../components/navbar/Navbar.astro";
import type { MarkdownHeading } from "astro";
import Article from "../components/blog/Article.astro";
import Title from "../components/blog/Title.astro";

export interface Props extends BaseLayoutProps {
  headings: MarkdownHeading[];
  date: Date;
}

const { title, headings, date, ...props } = Astro.props;
---

<BaseLayout {...props} title={title}>
  <link
    slot="head"
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
    crossorigin="anonymous"
  />

  <Navbar active="blog" />
  <main>
    <Article>
      <Title noDot={/[?!]$/.test(title)}>
        {title}
      </Title>
      <slot />
      <div class="scroll-shadow"></div>
    </Article>
  </main>
</BaseLayout>

<style>
  .scroll-shadow {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;

    z-index: calc(var(--z-noshadow, 11) - 1);
    background-color: var(--c-background);
    mask-image: linear-gradient(to bottom, transparent, rgb(0 0 0 / 75%));
    transition-property: background-color;
    transition-timing-function: var(--easing-default);
    transition-duration: var(--easing-default-duration);

    pointer-events: none;
  }
</style>
