---
import type { Props as BaseLayoutProps } from "./BaseLayout.astro";
import BaseLayout from "./BaseLayout.astro";
import Navbar, { type Props as NavbarProps } from "../components/Navbar.astro";
import type { MarkdownHeading } from "astro";
import Article from "../components/blog/Article.astro";
import Title from "../components/blog/Title.astro";

export interface Props extends BaseLayoutProps {
  headings: MarkdownHeading[];
  date: Date;
}

const { title, headings, date, ...props } = Astro.props;
---

<BaseLayout {...props} title={title}>
  <link
    slot="head"
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
    crossorigin="anonymous"
  />

  <Navbar headings={[]} active="none" />
  <main>
    <Article>
      <Title>
        {title}
      </Title>
      <slot />
      <div class="scroll-shadow"></div>
    </Article>
  </main>
</BaseLayout>

<style>
  .scroll-shadow {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;

    z-index: 10;
    background-color: var(--c-background);
    mask-image: linear-gradient(to bottom, transparent, rgb(0 0 0 / 75%));
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 0.15s;

    pointer-events: none;
  }
</style>
