---
import type { Props as BaseLayoutProps } from "./BaseLayout.astro";
import BaseLayout from "./BaseLayout.astro";
import Navbar, { type Props as NavbarProps } from "../components/Navbar.astro";

export interface Props extends BaseLayoutProps {
  active: NavbarProps["active"];
}

const { active, ...props } = Astro.props;
---

<BaseLayout {...props}>
  <Navbar headings={[]} active={active} />
  <main
    class="mt-20 mx-4 sm:mx-15vw max-w-3xl pb-32 text-xl prose dark:prose-invert"
  >
    <slot />
  </main>
</BaseLayout>
